.lmj-categories {
  text-align: center;
  padding-top: 30px;
}

.lmj-categories-select {
  margin-right: 15px;
  padding: 3px;
  border-radius: 10px;
}

.lmj-categories button {
  color: black;
  font-size: medium;
  background-color: rgb(255 255 255);
  border-radius: 6px;
  padding: 5px;
  border: outset 2px #e5e5e5;
}
.lmj-categories button:hover {
  color: green;
  opacity: 0.7;
}
