.lmj-shopping-list {
  width: 100%;
}

.lmj-plant-list {
  list-style-type: none;
  padding: 32px;
  display: grid;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  row-gap: 15px;
  grid-template-columns: repeat(3, 0fr);
}
.lmj-button-list {
  color: black;
  font-size: medium;
  background-color: rgb(255 255 255);
  border-radius: 6px;
  padding: 7px;
  border: outset 2px #e5e5e5;
}

.lmj-button-list:hover {
  color: green;
  opacity: 0.7;
}

@media (max-width: 800px) {
  .lmj-plant-list {
    display: flex;
    flex-wrap: wrap;
  }
}
